{% load static %}

<!DOCTYPE html>
<html>
    
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/style_auth.css' %}" rel="stylesheet" />

</head>
<body>
<!-- Navbar-->
<header class="header bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container">
            <!-- Navbar Brand -->
            <a href="#" class="navbar-brand text-light">
                <b>MDS Company</b>
            </a>
        </div>
    </nav>
</header>


<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="{% static 'img/login_ilustrasi.png' %}" alt="" class="img-fluid mb-3 d-none d-md-block">
            
        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="input-group col-lg-12 mb-3">
                        <h1>Login</h1>
                    </div>
                    {% for message in messages %}
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                            {{message}}
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Username -->
                    <div class="input-group col-lg-12 mb-4">
                        <input id="email" type="email" name="email" placeholder="Email" class="form-control bg-white border-left-0 border-md item">
                    </div>

                    <!-- Password -->
                    <div class="input-group col-lg-12 mb-4">
                        <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md item">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <input class="btn btn-primary btn-block py-2 font-weight-bold" type="submit" value="LOGIN">
                    </div>
                    <div class="form-group col-lg-12 mx-auto mt-3">
                        <label>Belum punya Akun ?</label>
                        <a href="{% url 'register' %}">
                            Daftar sekarang !
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="{% static 'js/custom_auth.js' %}"></script>
</body>

</html>